<% include ./includes/head %>
<% include ./includes/header %>

<body>
  <div class="jumbotron">
  <h1><%= title %></h1>
<main class="container">
  <form id="createTemplate" action="/templates/update/<%=edit._id%>" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <label for="name">Nom du template</label>
      <input required type="text" class="form-control" name="name" id="name" value="<%= edit.name%>">
    </div>
    <div class="form-group">
      <label for="entitled">Intitulé</label>
      <input required type="entitled" class="form-control" name="entitled" id="entitled" value="<%= edit.entitled %>">
    </div>
    <div class="form-group">
      <label for="organism">Organisme de formation</label>
      <input required type="organism" class="form-control" name="organism" id="organism" value="<%= edit.organism %>">
    </div>

     <div class="form-group">
      <label for="image">Logo</label>
     <!-- To do : ajouter le visu d'une image pour un plus -->
      <input type="file" class="form-control" class="form-control" name="logo" id="logo" aria-describedby="logo">
    </div>

        <button type="submit" class="btn btn-primary px-3 font-weight-bold" onclick="return confirm('Souhaitez-vous éditer le template?');">Editer</button>
    </form>

</main>
</div>
</body>

<% include ./includes/footer %>